# Explore pyplink api

In [ ]:
from pyplink import PyPlink

In [2]:
plink_prefix = './hg19.gene.ANGPTL8'

In [3]:
# Getting the BED BIM FAM
bed = PyPlink(plink_prefix)
bim = bed.get_bim()
fam = bed.get_fam()

In [5]:
bim.head()

                 chrom       pos  cm a1 a2
snp
19:11237450:A:G     19  11348126   0  G  A
19:11237458:C:T     19  11348134   0  T  C
19:11237459:G:A     19  11348135   0  A  G
19:11237463:G:A     19  11348139   0  A  G
19:11237463:G:T     19  11348139   0  T  G

In [6]:
fam.head()

  fid      iid father mother  gender  status
0   0  4244336      0      0       0      -9
1   0  2635567      0      0       0      -9
2   0  2469290      0      0       0      -9
3   0  4268936      0      0       0      -9
4   0  3427938      0      0       0      -9

In [11]:
bim.loc['19:11237459:G:A']

chrom          19
pos      11348135
cm              0
a1              A
a2              G
Name: 19:11237459:G:A, dtype: object

In [12]:
bim.loc['19:11237463:G:A']

chrom          19
pos      11348139
cm              0
a1              A
a2              G
Name: 19:11237463:G:A, dtype: object

In [13]:
bim.loc['19:11237463:G:A']['a1']

'A'

In [14]:
bim.loc['19:11237463:G:A']['a2']

'G'

In [27]:
bim.loc['19:11237463:G:A','a2']

'G'

In [25]:
# get the name of row label.
bim.index

Index(['19:11237450:A:G', '19:11237458:C:T', '19:11237459:G:A',
       '19:11237463:G:A', '19:11237463:G:T', '19:11237471:G:A',
       '19:11237475:T:C', '19:11237483:C:T', '19:11237484:G:A',
       '19:11237486:C:G',
       ...
       '19:11241708:G:T', '19:11241739:G:A', '19:11241743:C:A',
       '19:11241743:C:T', '19:11241744:G:A', '19:11241749:G:A',
       '19:11241760:G:A', '19:11241762:G:A', '19:11241763:A:T',
       '19:11241769:T:C'],
      dtype='object', name='snp', length=344)

In [31]:
fam.loc[:,'iid'].head()

0    4244336
1    2635567
2    2469290
3    4268936
4    3427938
Name: iid, dtype: object

In [32]:
'\t'.join(fam.loc[:,'iid'].head())

'4244336\t2635567\t2469290\t4268936\t3427938'

In [33]:
sample = set(['2635567','3427938'])

In [38]:
select_samples = [x in sample for x in fam.loc[:,'iid'].head()]

In [39]:
select_samples

[False, True, False, False, True]

In [46]:
len(fam.head().loc[select_samples]['iid'])

2

In [49]:
markers = ['19:11237450:A:G','19:11237463:G:T']

In [50]:
bed.get_geno_marker(markers[0])

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [51]:
?bed.get_geno_marker()

In [52]:
bed = PyPlink('./test.indels.missing')
bim = bed.get_bim()
fam = bed.get_fam()

In [53]:
bim

           chrom      pos  cm   a1   a2
snp
rs6054257     20    14370   0    A    G
rs1           20    17330   0    A    T
rs2           20  1230237   0    .    T
indel1        20  1234568   0    G  GTC
indel2        20  1234570   0  GTC    G
m1            20  1234590   0  GTC    G
m2            20  1234591   0    C    G
m3            20  1234691   0    C    G

In [54]:
fam

  fid      iid father mother  gender  status
0   0  NA00001      0      0       0      -9
1   0  NA00002      0      0       0      -9
2   0  NA00003      0      0       0      -9

In [58]:
# The number of a1 allele
k = bed.get_geno_marker('rs6054257')

In [60]:
sum(k)

3

In [63]:
len(k)

3

In [56]:
bed.get_geno_marker('rs1')

array([0, 1, 0], dtype=int8)

In [57]:
# missing as negative value -1
bed.get_geno_marker('m2')

array([ 1, -1, -1], dtype=int8)

In [61]:
sum(bed.get_geno_marker('m2'))

-1